@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Myanmar Khyay';
      src: url('/src/assets/fonts/Khyay-Regular.ttf');
  }
  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

* {
  box-sizing: border-box;
  line-height: 100%;
}

*[lang='en'] {
  font-family: 'Myanmar Khyay', sans-serif;
}

*[lang='ko'] {
  font-family: 'Noto Sans KR', sans-serif;
}

body {
  /* Myanmar Khyay 에 없는 폰트(한글)이 사용되면 자동으로 다음 폰트 Noto로 적용 */
  font-family: 'Myanmar Khyay', 'Noto Sans KR', sans-serif;
  background-color: #fffaf5;
}
